* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: linear-gradient(180deg, var(--bg-color-highlight) 0%, var(--bg-color) 70%);
  -webkit-font-smoothing: antialiased;

  background-repeat: no-repeat;
  background-attachment: fixed;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
